body{
    margin: 0;
    scroll-behavior: smooth;
}

img{
    padding: 0px;
    margin: 0px;
    border: 0px;
    display: block;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Google Sans', sans-serif;
}

h1{
    font-size: 2.5em;
}

a {
    color: #1772d0;
    text-decoration: none;
}

@keyframes rowup {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}

.video-box{
    overflow: hidden;
    display: flex;
    position: relative;
}

.video-column{
    height: auto;
}


.rowup{
    -webkit-animation: 15s rowup linear infinite normal;
    animation: 15s rowup linear infinite normal;
    position: relative;
    display: flex;
}

.title-mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    text-shadow: 0.05em -0.05em rgba(255, 200, 160, 0.634);
}

#button-list{
    margin: 20px auto 80px auto;
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
}

.link-button{
    border-radius: 290486px;
    padding-left: calc(1em + 0.25em);
    padding-right: calc(1em + 0.25em);
    background-color: white;
    border-color: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    margin: 0 10px 0 10px;
}

.link-button-content{
    color: black;
}

svg:not(:root).svg-inline--fa{
    overflow: visible;
}

.svg-inline--fa.fa-w-12 {
    width: 0.75em;
}

.root-content{
    text-align: center;
    width: 1020px;
    margin-right: auto;
    margin-left: auto;
    border-spacing: 0px;
    border-collapse: separate;
}

.section-name{
    color: #4a4a4a;
    font-size: 35px;
}

.section-content-text{
    font-family: 'Noto Sans', sans-serif;
    text-align: justify;
    font-size: 17px;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
}

.section-content{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.result-row img{
    width: 85%;
    margin: auto;
    left: 0;
    right: 0;
}
.result-row td{
    border: 10px;
}

.prompt-row{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    font-style: italic;
}

.bibtex{
    text-align: left;
    font-size: 16px;
    font-family: monospace;
    background-color: #e1e1e1;
    overflow-x: auto;
    padding: 5px 15px 15px 15px;
}

.circle-breath {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 0 0 0 rgb(255, 255, 255);
    height: 36px;
    width: 36px;
    border-radius: 50%;
    animation: donghua 2.4s infinite;
    cursor: pointer;
    scroll-behavior: smooth;
}

.circle-breath:hover{
    animation: donghua 0.4s infinite;

}

@keyframes donghua {
    0% {
        transform: scale(0.60);
        /* 注意rgba中的a的设置 */
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 60%);
    }

    60% {
        transform: scale(1);
        box-shadow: 0 0 0 36px rgba(255, 255, 255, 0%);
    }

    100% {
        transform: scale(0.60);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0%);
    }
}

.click{
    position: absolute;
    bottom: 10%;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 22px;
}